/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0; 
    font-family: 'Poppins';
    
 }
 .grid-container > div {
    background-color:rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    
  }
